POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DATABASE=drivent_test

JWT_SECRET=top_secret

REDIS_URL=redis://default:2k7v8gDgUgnnQjjw49WL2CLauDmyVYf5@redis-13765.c308.sa-east-1-1.ec2.cloud.redislabs.com:13765

DATABASE_URL=postgresql://${POSTGRES_USERNAME}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DATABASE}?schema=public